.reset-this {
    all: initial;
}

.page {
    margin-bottom: .4cm;
}

.brew-settings-container {
    border-top: 1px solid var(--background-modifier-border);
}

.brew-settings-container h4 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.brew-settings-container .setting-item {
    border-top: none;
    padding-top: .6vh;
    padding-bottom: .6vh;
}

.homebrewery-snippets-container {
    height: 14vh;
}

.homebrewery-snippet-container {
    position: absolute;
    padding-top: 1vh;
}

.homebrewery-snippet-button {
    margin-top: .4vh;
    margin-right: 1vw;
}